In [15]:
import numpy as np
import pandas as pd
from utils import get_data_as_list
import re
import seaborn as sns
from collections import Counter
from scipy import signal

In [2]:
data_list = get_data_as_list(day=9)
data_list[:15]

['7678921234988678901238954323498765432125789999567898765454223789989865432124569899894325678989212965',
 '6567890139876589992367896512987654321034569988979999879321012569876987573245979767799434599878909893',
 '5456799298987699989456789401398765732125678967991098988632123458965987684347898955688976988768919789',
 '4345898987698789878967894323499977543245789456789987999544345567894398789458997544567897976956898678',
 '3212987656569898767998985435989899764766789366789875987656776678993239896569987632456789865432234567',
 '4336796543456989658789976549978798765677890155898964298767897899789123987678998874567893984321045698',
 '5445995432345678945669987698766689976798931234987654109988999935678939899789679965678912995452166789',
 '6569876521236789123458998987654567899899545356998543212399990126989298759894579878789429876743278995',
 '7689986432345691012567999098767678976989876877899984323456789237892129642923499989896545987895345954',
 '8789976545856789134569892199898789895976989988999876567967898356799298731019989997998656798985457893',
 '9895989686787899246698789989999898769894394399989987678988987577898987656198968956999897999876568954',
 '4934399787899997657997679879987957656793239498765699789999599988967798868987657849899989879987679765',
 '3210239898989298799876534568896543234899398997654249899923478999456679879876543434678976756798799876',
 '4323359999879129987655423456789654455678966789743134998899567964345569998765432323459765433459893987',
 '5535698998968934599543012348998766566789355678951034997678978954233498999988751012578978712778932398']

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,7,6,7,8,9,2,1,2,3,4,...,8,9,8,9,2,1,2,9,6,5
1,6,5,6,7,8,9,0,1,3,9,...,9,8,7,8,9,0,9,8,9,3
2,5,4,5,6,7,9,9,2,9,8,...,8,7,6,8,9,1,9,7,8,9
3,4,3,4,5,8,9,8,9,8,7,...,6,9,5,6,8,9,8,6,7,8
4,3,2,1,2,9,8,7,6,5,6,...,5,4,3,2,2,3,4,5,6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3,4,5,6,7,9,8,9,7,8,...,7,6,5,2,1,0,1,2,3,4
96,4,5,6,8,9,9,9,9,8,9,...,9,8,4,3,2,3,2,3,4,5
97,5,6,7,9,9,8,7,6,9,1,...,9,8,5,4,3,4,5,4,5,6
98,6,7,8,9,9,9,6,5,3,2,...,8,7,6,7,9,5,7,6,8,7
99,7,9,9,9,9,8,6,5,4,3,...,9,8,7,8,9,6,8,7,9,8

In [6]:
def get_array_data(data_list):
    list_of_lists = [list(map(int, str(x).zfill(6))) for x in data_list]
    df = pd.DataFrame(list_of_lists)
    return df

In [7]:
df = get_array_data(data_list)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,7,6,7,8,9,2,1,2,3,4,...,8,9,8,9,2,1,2,9,6,5
1,6,5,6,7,8,9,0,1,3,9,...,9,8,7,8,9,0,9,8,9,3
2,5,4,5,6,7,9,9,2,9,8,...,8,7,6,8,9,1,9,7,8,9
3,4,3,4,5,8,9,8,9,8,7,...,6,9,5,6,8,9,8,6,7,8
4,3,2,1,2,9,8,7,6,5,6,...,5,4,3,2,2,3,4,5,6,7

need to find local minima

In [16]:
signal.argrelextrema(df.values, np.less)

(array([ 1,  1,  1, ..., 98, 98, 98], dtype=int64),
 array([ 6,  7, 10, ..., 77, 90, 91], dtype=int64))

## test data

In [23]:
test_data = np.array([[2,1,9,9,9,4,3,2,1,0],
             [3,9,8,7,8,9,4,9,2,1],
             [9,8,5,6,7,8,9,8,9,2],
             [8,7,6,7,8,9,6,7,8,9],
             [9,8,9,9,9,6,5,6,7,8]])

In [24]:
x, y = signal.argrelextrema(test_data, np.less)

In [25]:
my_values = []
for a, b in zip(x, y):
    my_values.append(test_data[a,b])

In [26]:
my_values

[5, 6, 7, 8, 8, 7]

mmhh, that's wrong