In [1]:
import numpy as np
import pandas as pd
from utils import get_data_as_list

In [2]:
data_list = get_data_as_list(day=2)
data_list[:15]

['forward 3',
 'down 6',
 'forward 7',
 'down 4',
 'down 8',
 'down 6',
 'down 4',
 'down 6',
 'forward 7',
 'down 5',
 'forward 1',
 'up 7',
 'up 6',
 'down 1',
 'down 2']

In [3]:
df = pd.DataFrame({'values': data_list})

In [4]:
df = df['values'].str.split(expand = True)
df = df.rename(columns={0: 'direction', 1: 'value'})

In [5]:
df.head()

  direction value
0   forward     3
1      down     6
2   forward     7
3      down     4
4      down     8

In [6]:
df.dtypes

direction    object
value        object
dtype: object

In [7]:
df['value'] = df['value'].astype(int)

In [8]:
df.dtypes

direction    object
value         int32
dtype: object

In [9]:
grouped = df.groupby('direction').sum().reset_index()
grouped

  direction  value
0      down   2076
1   forward   1923
2        up   1075

In [10]:
x = grouped.loc[grouped['direction']=='forward', 'value'].values[0]
down = grouped.loc[grouped['direction']=='down', 'value'].values[0]
up = grouped.loc[grouped['direction']=='up', 'value'].values[0]
y = down - up
print(f'solution to the first part is {x} times {y}, so {x*y}')

solution to the first part is 1923 times 1001, so 1924923

# second part

now the calculation gets more complicated: new variable called aim  
- down adds to aim
- up removes from aim
- forward adds to horizontal, multiplies with aim then adds to depth

In [11]:
# start with example 
test_data = ['forward 5', 'down 5', 'forward 8', 'up 3', 'down 8', 'forward 2']
test_df = pd.DataFrame({'values': test_data})
test_df = test_df['values'].str.split(expand = True)
test_df = test_df.rename(columns={0: 'direction', 1: 'value'})
test_df['value'] = test_df['value'].astype(int)

In [12]:
def helper_depth(df):
    depth = 0
    aim = 0
    for ind, row in df.iterrows():
        if row.direction == 'forward': 
            depth += row.value * aim
        elif row.direction == 'down':
            aim += row.value
        elif row.direction == 'up':
            aim -= row.value
    return depth

In [13]:
hor = test_df[test_df.direction == 'forward'].value.sum()
depth = helper_depth(test_df)
depth

60

In [14]:
hor

15

now let's do it on the actual data

In [15]:
x = df[df.direction == 'forward'].value.sum()
y = helper_depth(df)
print(f'solution to the first part is {x} times {y}, so {x*y}')

solution to the first part is 1923 times 1030939, so 1982495697

yay, solved day 2 too!!