In [1]:
import numpy as np
import pandas as pd
from utils import get_data_as_list
import re

In [2]:
data_list = get_data_as_list(day=3)
data_list[:15]

['111011001010',
 '010011101110',
 '110001001010',
 '001101011101',
 '110100000011',
 '010110110010',
 '101000110110',
 '010100000011',
 '111001101111',
 '111001100011',
 '000110000100',
 '111011110100',
 '010001100000',
 '100011000010',
 '001001111010']

pandas.str split or explode do not seem to give me what I want directly, so go for an ugly list comprehension first

In [3]:
data_list = [(lambda x: ','.join(re.split('(\d)', x)[1::2]))(x) for x in data_list]

In [4]:
df = pd.DataFrame({'values': data_list})
df = df['values'].str.split(',', expand = True)
df.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  1  1  0  1  1  0  0  1  0  1  0
1  0  1  0  0  1  1  1  0  1  1  1  0
2  1  1  0  0  0  1  0  0  1  0  1  0
3  0  0  1  1  0  1  0  1  1  1  0  1
4  1  1  0  1  0  0  0  0  0  0  1  1

values for the gamma rate

In [5]:
gamma_string = ''.join(list(df.mode(axis=0).values[0]))

In [6]:
epsilon_bool = [not bool(int(x)) for x in gamma_string]

In [7]:
epsilon_list = [str(int(x)) for x in epsilon_bool]
epsilon_string = ''.join(epsilon_list)

In [8]:
gamma = int(gamma_string, base=2)

In [9]:
epsilon = int(epsilon_string, base=2)

In [10]:
solution = gamma * epsilon
solution

1025636

# second part
now need to look at the columns (i.e. bits): filter according to least/most common bit, and then continue with the next columns until only one number is left

In [11]:
def mode_like(array, choosing_mode=True): 
    """function to calculate the mode for that particular binary problem
    special compared to normal mode: what to do when the second value occurs
    equally often
    also with choice of whether to returh the mode or the other, less frequent value
    """
    sum1 = sum(array == '1')
    sum0 = sum(array == '0')
    print(f'sum of 1s: {sum1}, sum Of0s: {sum0}')
    if sum1 >= sum0:
        mode = '1'
        non_mode = '0'
    else:
        mode = '0'
        non_mode = '1'
    
    if choosing_mode:
        return mode
    else:
        return non_mode

In [12]:
def mode_helper(df, choosing_mode):
    my_mode_value = mode_like(df[df.columns[0]], choosing_mode)
    new_df = df[df[df.columns[0]] == my_mode_value].drop(columns=df.columns[0])
    return my_mode_value, new_df

In [13]:
df_storage = df.copy(deep=True)
my_num = []

In [14]:
while len(df) > 1:
    my_val, df = mode_helper(df, True)
    my_num.append(my_val)
    print(len(df))

sum of 1s: 501, sum Of0s: 499
501
sum of 1s: 257, sum Of0s: 244
257
sum of 1s: 126, sum Of0s: 131
131
sum of 1s: 62, sum Of0s: 69
69
sum of 1s: 29, sum Of0s: 40
40
sum of 1s: 19, sum Of0s: 21
21
sum of 1s: 7, sum Of0s: 14
14
sum of 1s: 7, sum Of0s: 7
7
sum of 1s: 3, sum Of0s: 4
4
sum of 1s: 1, sum Of0s: 3
3
sum of 1s: 1, sum Of0s: 2
2
sum of 1s: 1, sum Of0s: 1
1

In [15]:
my_num

['1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '1']

In [16]:
df

Empty DataFrame
Columns: []
Index: [307]

In [17]:
oxygen_gen_index = df.index[0]

In [18]:
oxygen_gen_string = ''.join(df_storage.iloc[oxygen_gen_index, :].values)

In [19]:
df2 = df_storage.copy(deep=True)
my_num2 = []

In [20]:
while len(df2) > 1:
    my_val, df2 = mode_helper(df2, False)
    my_num2.append(my_val)
    print(f'length of remaining df: {len(df2)}')

sum of 1s: 501, sum Of0s: 499
length of remaining df: 499
sum of 1s: 250, sum Of0s: 249
length of remaining df: 249
sum of 1s: 133, sum Of0s: 116
length of remaining df: 116
sum of 1s: 57, sum Of0s: 59
length of remaining df: 57
sum of 1s: 30, sum Of0s: 27
length of remaining df: 27
sum of 1s: 16, sum Of0s: 11
length of remaining df: 11
sum of 1s: 6, sum Of0s: 5
length of remaining df: 5
sum of 1s: 3, sum Of0s: 2
length of remaining df: 2
sum of 1s: 1, sum Of0s: 1
length of remaining df: 1

In [21]:
df2

    9  10 11
625  0  0  1

In [22]:
co2_scrubber_index = df2.index[0]

In [23]:
co2_scrubber_string = ''.join(df_storage.iloc[co2_scrubber_index, :].values)

In [24]:
int(oxygen_gen_string, base=2) * int(co2_scrubber_string, base=2)

793873

finally!